/Loja-WEB/build/
/Loja-WEB/nbproject/private/
/Loja/Loja-ejb/build/
/Loja/Loja-ejb/dist/
/Loja/Loja-ejb/nbproject/private/
/Loja/nbproject/private/
/Loja-WEB/dist/
/Loja/build/
/Loja-EJB/nbproject/private/
/Loja-EJB/Loja-EJB-war/nbproject/private/
/Loja-EJB/Loja-EJB-ejb/nbproject/private/
/Loja/dist/