
#top {
    position: relative;
    background-color: #EFEFEF;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -border-radius: 0 0 20px 20px;
    margin-top: -10px;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 10px #000;
    text-align: center;
}

#bottom {
    background-color: #EEE;
    margin: 20px 0 0 0;
    text-align: center;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -border-radius: 15px 15px 0 0;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 10px #363636;
    padding: 5px;
}

#left {
    float: left;
    background-color: white;
    padding: 5px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    box-shadow: 0 0 10px #CCC;
}

#centro {
    position: relative;
    background-color: white;
    padding: 5px;
    margin-left: 225px;
    border: 1px solid #EEE;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    box-shadow: 0 0 15px #aaa;
    height: 100%;
}


#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


