*{
    font-family: 'Ubuntu', arial, serif;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #363636;
}

a:link, a:visited {
  color: #363636;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
 color: #363636;
  font-weight : bold;
  text-decoration : underline;
}
