/* 
    Document   : loja
    Created on : May 20, 2011, 10:47:16 AM
    Author     : carlos
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}


@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('./resources/Ubuntu-Regular.woff') format('woff');
}
