root { 
    display: block;
}

*{
    font-family: 'Ubuntu', arial, serif;
    font-size: 12px;
}

body {
    background-color: #1E90FF;
    font-size: 12px;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: 'Indie Flower', arial, serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #363636;
    font-size: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

h1:hover {
    text-shadow: 0 0 9px #1E90FF;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a:link, a:visited {
    color: #363636;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #363636;
    font-weight : bold;
    text-decoration : underline;
    text-shadow: 0 0 3px lightgreen;
}

#layoutLoja {
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

#titulo {
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 5px #363636;
    color: #EEE;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#titulo:hover {
    text-shadow: 0 0 9px #000;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}


#lista\:tabelaProdutos
{
    margin-top: 30px;
}

.campo {
    width: 200px;
}

.campo-data input {
    width: 200px;
}

.campo-spinner input {
    width: 185px;
}

.campo-many-menu {
    width: 200px;
    height: 170px;
}

.selecionado {
    color: white !important;
    border-color: #388AD4 !important;
    text-decoration: none !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3) !important;
    background-position: 0 -40px !important;
    background-color: #2D7DC5 !important;
}

.preco {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.data {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.rodape {
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.rodape:hover {
    background-color: #f0f0f0;
    text-shadow: 0 0 10px #3b3838;
}

.centro {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.esquerda {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
