/* 
    Document   : loja
    Created on : May 20, 2011, 10:47:16 AM
    Author     : carlos
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}


@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('./resources/Ubuntu-Regular.woff') format('woff');
}

.campo {
    width: 200px;
}

.campo-data input {
    width: 200px;
}

.campo-spinner input {
    width: 185px;
}

.campo-many-menu {
    width: 200px;
    height: 170px;
}
